.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-label{
  padding-right: 2px;
}

#sign-out {
  position: fixed;
  bottom: 20px;
  left: 50%;
  right: 50%;
  width: 120px;
  height: 50px;
  color: white;
  background-color: red;
}

#sign-out:hover {
  background-color: rgb(200, 0, 0);
}

#add-new-window {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: 10px;
  border: solid black 5px;
  background-color: white;
  z-index: 999;
  padding: 5px;
}

#exit-button {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 20pt;
  border: solid black 1px;
  padding: 2px;
}

#exit-button:hover {
  background-color: rgb(200, 200, 200);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left{
  flex: 1;
  margin-left: 1px;
}

.right{
 margin-left: 10px;
 margin-right: 1px;
}

#caretaker-form{
  padding: 10px;
  display: inline-block;
}
#patient-form{
  padding: 10px;
}

#set-times{
  padding: 10px;
}

.times-input{
  margin: 25px;
}

#add-patient-buttons{
  margin: 25px;
 
}
#confirm, #cancel{
  margin: 10px;
  width: 5%;
  height: 7%;
}

.form-item{
  margin: 20px;
  padding: 5px;
}

#new-patient-button{
  position: fixed;
  top: 50%;
  left: 80px;
  background-color: rgb(119, 175, 255);
  height: 80px;
  width: 180px;
}

#new-patient-button:hover{
  background-color: rgb(99, 155, 235)
}

#history-table{
  border-collapse: collapse;
  width: 100%;
}

.history-item{
  border: 1px solid black;
  text-align: center;
  padding: 4px;
}

.patient-card, .patient-link {
  
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  list-style-type: none;
  padding: 0; 
  width: 100%;
  height: 10%;
  font-size: 15pt;
}
.patent-card:hover {
  background-color: rbg(200,200,200)
}

#med-times {
  padding: 5px;
  border: solid black 2px;
}

.time {
  
}

#med-history {
  padding: 5px;
}

.patient-card {
  border: 1px solid black;
}

.patient-list {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 20%;
  right: 20%;
  margin: 0;
  padding: 0;
  height: 50%;
  width: 50%;
  list-style: none;
}

.main-page-logo {
  font: verdana;
  color: red;
  left: 30px;
  position: fixed;
  font-size: 70px;
  top: 0;
}

#signin-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

#signin-form input{
  margin: 10px 0;
}

#info-container{
  width: 100%;
  display: flex;
}

#patient-info, #caretaker-info {
  border: solid black 2px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 5px;
  top: 0;
  bottom: 0;

}
#buttons {
  width: 100%;
}